<!-- <div class="header_top">
    <div class="container mt-0">
      <div class="row align-items-center">
        <div class="col-md-4">
  
        </div>
        <div class="col-md-4 text-center">
          <h3>Token Genrator</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 p-2">
    <form #SignUpForm="ngForm" (ngSubmit)="SignUpForm.form.valid && userRegistration(SignUpForm)">
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input type="text" #name="ngModel" [ngModel]="ClientName" name="ClientName"  placeholder="Enter name">
          <span class="text-danger" *ngIf="SignUpForm.submitted && name.invalid">Please enter name.</span>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Mobile</label>
          <input type="text" #mobile="ngModel" [ngModel]="MobileNo" name="MobileNo" class="form-control"  placeholder="mobile">
          <span class="text-danger" *ngIf="SignUpForm.submitted && mobile.invalid">Please enter mobile.</span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {{response | json}}
  </div>
 -->


 <div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>ADD Token</h3>
      <form #SignUpForm="ngForm" (ngSubmit)="SignUpForm.form.valid && userRegistration(SignUpForm)">
        <div class="form-group p-2">
          <input class="form-control" type="text" #name="ngModel" [ngModel]="ClientName" name="ClientName" [ngClass]="{ 'is-invalid': SignUpForm.submitted && name.invalid }" placeholder="Enter name" required>
          <span class="text-danger" *ngIf="SignUpForm.submitted && name.invalid">Please enter name.</span>
        </div>
        <div class="form-group p-2">
          <input class="form-control" type="number" min="10" #mobile="ngModel" [ngModel]="MobileNo" name="MobileNo" [ngClass]="{ 'is-invalid': SignUpForm.submitted && mobile.invalid }" class="form-control"  placeholder="mobile" required>
          <span class="text-danger" *ngIf="SignUpForm.submitted && mobile.invalid"> Please enter at mobile.</span>
        </div>
        <button class="btn btn-primary p-2 form-control" type="submit">SUBMIT</button>
      </form>
    </div>
    <div class="col-md-8">
      <h3>Token List</h3>
      <div class="datatable-custom-wrapper mt-1 datatable-height-fit-screen">
        <table datatable [dtOptions]="dtOptions" class="datatable-columns-adjust w-100">
          <thead>
            <tr>
              <th style="width:10%">Name</th>
              <th style="width:10%">Mobile</th>
              <th style="width:10%">Sloat Date</th>
              <th style="width:10%">Sloat Time</th>
              <th style="width:10%">Attendee</th>
              <th style="width:40%">Token</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of TokenList.List;let i=index">
              <td>{{item.ClientName || "-"}}</td>
              <td>{{item.Mobile || "-"}}</td>
              <td>{{item.BookedDate || "-"}}</td>
              <td>{{item.SlotTime || "-"}}</td>
              <td>{{item.AttendeeID || "-"}}</td>
              <td>{{item.Token || "-"}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>